/* VARIABLES */
:root {
    --hover-color: #fff;
    --text-color: #FFF;
    --padding: 20px;
    --no-padding: 0;
    --no-margin: 0;
    --max-width: 100vw;
  }

nav{
}

ul{
    position: fixed;
    top: 0;
    width: var(--max-width);
    list-style-type: none;
    margin: var(--no-margin);
    padding: var(--no-padding);
    overflow: hidden;
}

li{
    display: inline;
    float: left;
}

#contact{
    float: right;
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: var(--padding);
    color: var(--text-color);
}