@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Light.ttf);
  }

@font-face {
    font-family: Montserrat-Italic;
    src: url(../assets/fonts/Montserrat-LightItalic.ttf);
  }

/* VARIABLES */
:root {
    --text-color: #fff;
    --primary-background-color: #050505;
    --seconday-background-color:#0c0c0c;
    --primary-color: #506AD4;
    --secordary-color: red;
    --font-family: 'Montserrat'; 
    --font-family-italic: 'Montserrat-Italic'; 
    --max-width: 100vw;
    --max-heigth: 100vh;
    --padding-small: 5px;
    --padding-medium: 20px;
    --padding-big: 50px;
    --padding-extra-big: 100px;
    --margin-small: 5px;
    --margin-medium: 20px;
    --margin-big: 50px;
    --margin-extra-big: 100px;
  }

html, body{
    background-color: var(--primary-background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    padding: 0%;
    margin: 0%;
}

header{
}

h3{
  font-family: var(--font-family-italic);
}

main{
  
}

footer{
    text-align: center;
    width: var(--max-width);
    background-color: var(--seconday-background-color);
}

ul{
  background-color:var(--seconday-background-color);
}

li a:hover{
  background-color: var(--primary-color);
}

.divider{
  height: 2px;
  background-color: var(--seconday-background-color);
  margin: var(--margin-small);
  margin-left: var(--margin-extra-big);
  margin-right: var(--margin-extra-big);
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--padding-extra-big);
}
